/* Aller fonts are limited to 25k website users with a free license */
@font-face {
    font-family: AllerDisplay;
    src:url(../fonts/AllerDisplay.ttf) format("truetype");
}

* { margin:0; padding:0; }

/* all pages */
section { position:relative; border-radius:20px; border:1px solid #d3d3d3; margin:25px 0; padding:20px; }
header { font-family: AllerDisplay, arial, sans-serif; color:blue; font-size:28px; margin-bottom:5px; }
section header:not(:first-child) { margin-top:10px; }
section .btn-right
{
    position:absolute; right:0; top:0; height:100%; background-color:transparent; font-family:AllerDisplay, arial, sans-serif;
}

/* nav.php */
#nav { background-color:#000; width:100%; height:50px; }
#nav svg { height:50px; width:50px;  }
#nav:hover { height:100px;  }
#nav:hover svg { height:100px; width:100px; }
#nav #logo { color:white; float:left; }
#nav #navButtons { float:right; top:-20px; }

#nav img { height:50px; transition:height 1s; }
#nav:hover img { height:100px; transition:height 0.5s; }
#nav button { background:none; border:none; }
#nav #logo { color:white; float:left; }
#nav #navButtons { float:right; top:-20px; }
#nav #greeting { float:left; color:white; }

/* profile.php */
.fixedMenu { position:fixed; left:0; top:200px; }
input { padding:5px 0; }
#register { right:220px; }
#main { width:50%; margin-left: 25%; }
form input { float:right; }
a.editlink { color:black; }

/* first run page */
/*form#formShowInterestsFirstRun {  overflow-y: scroll; }*/
form#formShowInterestsFirstRun table { overflow-y: scroll; width:90%; margin:0 auto; }

/* profile page */
table { border-spacing: 5px; width:100%; }
.cellBoxSpacer { width:50px; }
input[type=checkbox] { visibility:hidden; }
.cboxWrapper {
    width: 40px;
    height: 40px;
    background: #ddd;
    margin: 10px 10px 10px 0;

    border-radius: 100%;
    position: relative;
}
.cboxWrapper label
{
    display: block;
    width: 30px;
    height: 30px;

    font-size: 24px;
    line-height:30px;
    text-align: center;
    border-radius: 100px;

    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 1;

    background: #fff;

    -webkit-box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
}

.cboxWrapper input.cboxAdd + label { color:#26ca28; }
.cboxWrapper input.cboxAdd:checked + label { background: #26ca28; color:#fff; }

.cboxWrapper input.cboxRemove + label { color:#ca2628; }
.cboxWrapper input.cboxRemove:checked + label { background: #ca2628; color:#fff; }